* {
    box-sizing: border-box;
}

img {
    width: 100%;
    vertical-align: bottom;
}

html {
    background-color: rgb(26, 26, 26);
}

a {
    text-decoration: none;
}

/* header */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 30px;
    margin-bottom: 120px;
    font-size: 0;
}

nav .nav-link {
    color: #c5c5c6;
    font-size: 14px;
    margin-right: 20px;
}

nav .nav-link:hover {
    text-decoration: underline;
}

.nav-left {
    display: flex;
}

.nav-right {
    display: flex;
}

/* wrap */
.wrap {
    margin-top: 200px;
    width: 584px;
    margin: auto;
}

.logo {
    width: 272px;
    height: auto;
    margin: 0 auto 24px;
}

/* form */
.form-group {
    display: flex;
    align-items: center;
    width: 584px;
    color: #555;
    padding: 8px 12px;
    border: 1px solid currentColor;
    border-radius: 30px;
    background-color: #fff;
    margin-bottom: 24px;
}

.form-group input[type="text"] {
    margin-left: 8px;
    color: #555;
    font-size: 16px;
    display: block;
    width: 100%;
    border: none;
    background-color: inherit;
}
.form-group input[type="text"]::placeholder {
    background-color: #fff;
}
.form-group input[type="text"]:focus {
    outline: none;
}
.form-group .icon {
    width: 20px;
    height: 20px;
}
/* shortcuts */
.shortcuts {
    width: 584px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.shortcut {
    padding: 24px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shortcut-icon img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 25px;
}
.shortcut-title {
    color: #fff;
}